.petGrooming {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 3rem 1rem 3rem;
}

.petGrooming img {
    width: 45%;
    object-fit: cover;
}

.petGroomingDescription {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .petGrooming {
        flex-direction: column;
    }

    .petGrooming img {
        width: 100%;
        object-fit: cover;
    }

    .petGroomingDescription {
        width: 100%;
    }
}

.petGroomingPricing {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
}

.petGroomingPricing table {
    width: 80%;
    align-self: center;
}

.petGroomingPricing table,
.petGroomingPricing th,
.petGroomingPricing td {
    border: 1px solid black;
    border-collapse: collapse;
}

.petGroomingPricing td {
    padding-left: 1rem;
}
