.petDetail {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #F5F5DC;
    padding: 0 2rem 4rem 2rem;
}

@media only screen and (max-width: 600px) {
    .petDetail {
        width: 100%;
    }
}

.petCrud {
    display: flex;
    align-self: flex-end;
    margin-top: 1rem;
    gap: 1rem
}


.plusIcon {
    align-self: flex-end;
    margin: 2rem 1rem 1rem 0;
}

.plusIcon:hover, .petCrud:hover {
    cursor: pointer;
}

.petHeader {
    display: flex;
    width: 100%;
    margin: 2rem 0;
}

.petHeader img {
    width: 25%;
    border-radius: 50%;
    margin-right: 2.5rem;
}

.petName {
    display: flex;
    flex-direction: column;
}