.petList {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.pet {
    display: flex;
    margin: 0.6rem 0;
    width: 100%;
    align-items: center;
    border-bottom: 0.1rem solid #333;
}

.pet:hover {
    cursor: pointer;
}

.pet img {
    width: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
}

@media only screen and (min-width: 700px) {
    .pet {
        width: 200px;
    }
}

@media only screen and (min-width: 800px) {
    .pet {
        width: 235px;
    }
}

@media only screen and (min-width: 1000px) {
    .pet {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .pet {
        width: 380px;
    }
}

@media only screen and (max-width: 600px) {
    .petList {
        flex-direction: row;
        width: 100%;
        overflow: auto;
        padding-right: 40px;
        margin-right: 2rem;
    }

    .pet {
        flex: 0 0 33%; /* Each pet takes up 50% of the screen width */
        padding: 0 1rem;
        margin: 0 2rem;
        border-left: 0.1rem solid #333;
        border-bottom: 0;
    }

    .pet img {
        width: 50%;
    }

    /* .petShortDesc {
        width: 50%;
    }  */
}
