.profile,
.profileCard {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.avatarForm {
    width: 20%;
    margin-right: 2.5rem;
}

.avatarForm img {
    width: 100%;
    border-radius: 50%;
}

.profileIcon {
    align-self: flex-start;
    margin: 1rem;
}

.userInfo,
.userForm {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.userForm input {
    font-size: 16px;
    padding: 8px 4px;
    margin-top: 0.5rem;
}

.userForm .usernameLabel {
    margin-top: 1rem;
}

.userForm button {
    margin-top: 1rem;
    width: 20%;
    align-self: flex-end;
}

.profileIcon:hover,
button,
.avatarForm img:hover {
    cursor: pointer;
}

.profileSeperationLine {
    border: 0.1rem solid #333;
    width: 90%;
    margin: 0 auto;
}

.petSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (min-width: 400px) {
    .profileCard {
        width: 400px;
    }
}

@media only screen and (min-width: 600px) {
    .profileCard {
        width: 600px;
    }
}

@media only screen and (min-width: 800px) {
    .profileCard {
        width: 800px;
    }
}

@media only screen and (min-width: 1000px) {
    .profileCard {
        width: 1000px;
    }
}

@media only screen and (min-width: 1200px) {
    .profileCard {
        width: 1200px;
    }
}

@media only screen and (max-width: 600px) {
    .petSection {
        flex-direction: column;
    }
}
